body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.menu-wrapper .menu {
  padding: 50px 165px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.menu-wrapper .menu a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  margin: 19px;
  border-top: 3px solid transparent;
  color: #262626;
}

.menu-wrapper .menu a:hover, .menu-wrapper .menu a:focus {
  border-top: 3px solid #ff6033;
}

@media screen and (max-width: 550px) {
  .menu-wrapper .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 20px;
  }
  .menu-wrapper .menu img {
    width: 200px;
    margin: 0 auto 20px auto;
  }
  .menu-wrapper .menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .menu-wrapper .menu a:hover, .menu-wrapper .menu a:focus {
    border-top: 3px solid transparent;
    background-color: #545454;
    color: rgba(255, 255, 255, 0.795);
  }
}

@media screen and (max-width: 1150px) and (min-width: 551px) {
  .menu-wrapper {
    padding: 50px 20px;
    width: 100%;
  }
  .menu-wrapper .menu {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
  }
  .menu-wrapper .menu img {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .menu-wrapper .menu .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-wrapper .menu .links a {
    display: inline-block;
    margin: 20px 20px 0 20px;
  }
}

.home {
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
}

.home .content {
  padding: 200px 0 300px 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.home .content .headline {
  color: #262626;
  width: 380px;
}

.home .content .headline .text {
  margin: 17px 0 0 0;
  display: block;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 27px;
}

.home .content .headline .main-headline {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.home .content .headline button {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #ffffff;
  margin: 27px 0 0 0;
  cursor: pointer;
  -webkit-box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
}

.home .content .headline button:hover {
  background-color: #fb5324;
}

@media screen and (max-width: 550px) {
  .home {
    padding: 50px 20px;
  }
  .home .content {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .home .content .headline {
    width: 100%;
  }
  .home .content .headline .text {
    text-align: left;
    width: 200px;
  }
  .home .content .headline .main-headline {
    font-size: 60px;
  }
  .home .content .headline button {
    width: 100%;
  }
}

@media screen and (max-width: 800px) and (min-width: 551px) {
  .home {
    padding: 50px 20px;
  }
  .home .content {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .home .content .headline {
    width: 100%;
  }
  .home .content .headline .text {
    text-align: left;
    width: 300px;
  }
  .home .content .headline .main-headline {
    font-size: 60px;
  }
  .home .content .headline button {
    width: 300px;
  }
}

.about-wrapper {
  background-color: #00b8b8;
}

.about-wrapper .about {
  margin: 0 auto;
  max-width: 1175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 50px;
}

.about-wrapper .about .about-image {
  width: 560px;
  height: 560px;
  margin-top: 75px 0 0 0;
}

.about-wrapper .about .headline {
  margin: 112px 0 0 76px;
}

.about-wrapper .about .headline .main-headline {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: white;
  line-height: 70px;
}

.about-wrapper .about .headline .text {
  margin: 8px 0 0 0;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  color: white;
  line-height: 27px;
}

@media screen and (max-width: 550px) {
  .about-wrapper .about {
    padding: 50px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-wrapper .about .about-image {
    width: 400px;
    height: 400px;
    margin: 0;
  }
  .about-wrapper .about .headline {
    margin: 0;
  }
  .about-wrapper .about .headline .main-headline {
    text-align: center;
    display: block;
    font-size: 70px;
    color: white;
  }
  .about-wrapper .about .headline .text {
    text-align: center;
    display: block;
    font-size: 17px;
    max-width: 440px;
    color: white;
    line-height: 27px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 551px) {
  .about-wrapper .about {
    padding: 50px 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about-wrapper .about .about-image {
    width: 350px;
    height: 350px;
    margin: 0;
  }
  .about-wrapper .about .headline {
    margin: 0;
  }
  .about-wrapper .about .headline .main-headline {
    text-align: center;
    display: block;
    font-size: 60px;
    color: white;
  }
  .about-wrapper .about .headline .text {
    text-align: center;
    display: block;
    font-size: 14px;
    max-width: 440px;
    color: white;
    line-height: 24px;
  }
}

.services-wrapper {
  background-color: #70bfff;
  padding: 169px 0 85px 0;
}

.services-wrapper .block-service {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-wrapper .block-service .cell .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  text-decoration: none;
}

.services-wrapper .block-service .cell .content:hover {
  background-color: #7db7e6;
}

.services-wrapper .block-service .cell .content:hover .icon-shopping {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:hover .text-content {
  color: white;
}

.services-wrapper .block-service .cell .content:hover .icon-domestic {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:hover .icon-product {
  fill: #ffffff;
}

.services-wrapper .block-service .cell .content:hover .icon-organized {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:focus {
  background-color: #7db7e6;
}

.services-wrapper .block-service .cell .content:focus .text-content {
  color: white;
}

.services-wrapper .block-service .cell .content:focus .icon-shopping {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:focus .text-content {
  color: white;
}

.services-wrapper .block-service .cell .content:focus .icon-domestic {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:focus .icon-product {
  fill: #ffffff;
}

.services-wrapper .block-service .cell .content:focus .icon-organized {
  fill: #fff;
}

.services-wrapper .block-service .cell .content:active {
  background-color: #6caee4;
}

.services-wrapper .block-service .cell .text-content {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #262626;
}

.services-wrapper .block-service .cell .img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #9d9d9d;
  padding: 230 24px;
}

.services-wrapper .block-service .cell .img-content .icon-shopping {
  fill: #262626;
  width: 46.688px;
  height: 42.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.services-wrapper .block-service .cell .img-content .icon-domestic {
  width: 53px;
  height: 53.16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  fill: #262626;
}

.services-wrapper .block-service .cell .img-content .icon-product {
  fill: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  width: 53.688px;
  height: 47.62px;
}

.services-wrapper .block-service .cell .img-content .icon-organized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  fill: #262626;
  width: 54.125px;
  height: 54.12px;
}

.services-wrapper .block-service .cell .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/services-tomato.png);
  min-height: 525px;
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -100px 0 100px 0;
}

.services-wrapper .block-service .cell .services .services-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .services-wrapper {
    padding: 150px 20px 50px 20px;
  }
  .services-wrapper .block-service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  .services-wrapper .block-service .cell {
    width: 100%;
  }
  .services-wrapper .block-service .cell .content {
    width: 100%;
    margin: 20px auto 0 auto;
  }
  .services-wrapper .block-service .cell .text-content {
    width: 100%;
  }
}

@media screen and (max-width: 855px) and (min-width: 551px) {
  .services-wrapper {
    padding: 150px 20px 50px 20px;
  }
  .services-wrapper .block-service {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .services-wrapper .block-service .cell {
    width: 100%;
  }
  .services-wrapper .block-service .cell .content {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .services-wrapper .block-service .cell .text-content {
    width: 100%;
  }
  .services-wrapper .block-service .cell .services {
    width: 500px;
    margin: -100px auto 100px auto;
  }
}

.gallery-wrapper {
  padding: 100px 20px;
  background-color: #ffe92f;
}

.gallery-wrapper .gallery-block {
  max-width: 1170px;
  margin: 0 auto;
}

.gallery-wrapper .gallery-block .headline {
  text-align: center;
  margin: 0 auto 4px auto;
  font-size: 90px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.gallery-wrapper .gallery-block .headline-text {
  margin: 0 auto 17px auto;
  font-size: 17px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
  max-width: 585px;
}

.gallery-wrapper .gallery-block .row-wrapper {
  padding: 20px;
}

.gallery-wrapper .gallery-block .row-wrapper .bootstrap-image {
  width: 100%;
  margin: 0 0 20px 0;
}

.gallery-wrapper .gallery-block button {
  width: 200px;
  color: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #5585a2;
  margin: 30px auto 0 auto;
  text-align: center;
  border: none;
  display: block;
}

.gallery-wrapper .gallery-block button:hover {
  background-color: #468ab4;
}

.gallery-wrapper .gallery-block button:active {
  background-color: #5585a2;
}

@media screen and (max-width: 550px) {
  .gallery-wrapper {
    padding: 50px 20px;
  }
  .gallery-wrapper .gallery-block .headline {
    line-height: 80px;
    margin: 0 0 15px 0;
  }
  .gallery-wrapper .gallery-block .row-wrapper {
    padding: 0;
  }
  .gallery-wrapper .gallery-block button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  .gallery-wrapper {
    padding: 50px 20px;
  }
  .gallery-wrapper .gallery-block .headline {
    line-height: 80px;
    margin: 0 0 15px 0;
  }
  .gallery-wrapper .gallery-block .row-wrapper {
    padding: 0;
  }
  .gallery-wrapper .gallery-block button {
    width: 300px;
  }
}

.subscribe-wrapper {
  background-image: url(../images/subscribe-background.png);
  background-position: center 0;
  background-size: cover;
}

.subscribe-wrapper .subscribe-block {
  padding: 150px 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.subscribe-wrapper .subscribe-block .headline {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.subscribe-wrapper .subscribe-block .headline-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  width: 545px;
}

.subscribe-wrapper .subscribe-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-wrapper .subscribe-block form .subscribe-email {
  width: 570px;
  border: 1px solid #262626;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 14px 16px 14px;
  margin: 28px 0 13px 0;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:focus {
  border: 1px solid #057514;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:focus::-webkit-input-placeholder {
  color: transparent;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:focus:-ms-input-placeholder {
  color: transparent;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:focus::-ms-input-placeholder {
  color: transparent;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:focus::placeholder {
  color: transparent;
}

.subscribe-wrapper .subscribe-block form .subscribe-email::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subscribe-wrapper .subscribe-block form .subscribe-email:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subscribe-wrapper .subscribe-block form .subscribe-email::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subscribe-wrapper .subscribe-block form .subscribe-email::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subscribe-wrapper .subscribe-block form button {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 15px 10px 13px 10px;
  width: 170px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 28px 0 13px 27px;
  background-color: #96b92c;
  color: #fff;
  font-size: 20px;
}

.subscribe-wrapper .subscribe-block form button:hover {
  background-color: #7c9c1a;
}

.subscribe-wrapper .subscribe-block form button:active {
  background-color: #96b92c;
}

@media screen and (max-width: 550px) {
  .subscribe-wrapper {
    background-position: 730px 0;
  }
  .subscribe-wrapper .subscribe-block {
    padding: 50px 20px;
  }
  .subscribe-wrapper .subscribe-block .headline {
    font-size: 30px;
  }
  .subscribe-wrapper .subscribe-block .headline-text {
    width: 220px;
    text-align: justify;
  }
  .subscribe-wrapper .subscribe-block form .subscribe-email {
    width: 300px;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  .subscribe-wrapper .subscribe-block {
    padding: 50px 20px;
  }
  .subscribe-wrapper .subscribe-block .headline-text {
    width: 300px;
  }
}

.blog-block {
  background-color: #b07cf7;
  margin: 0 auto;
  padding: 100px 0;
}

.blog-block .headline {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  color: white;
}

.blog-block .headline-text {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  text-align: center;
  width: 590px;
  margin: 26px auto 0 auto;
  line-height: 25px;
  color: white;
}

.blog-block .wrapper {
  padding: 0 20px;
  margin: 20px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1220px;
}

.blog-block .wrapper .news-block {
  margin: 0 10px;
  width: 370px;
  position: relative;
}

.blog-block .wrapper .news-block:hover {
  opacity: 0.8;
  cursor: pointer;
}

.blog-block .wrapper .news-block .back-image {
  width: calc(370px+5%);
  height: calc(370px+1%);
  margin: -3px 5px 0 -5px;
}

.blog-block .wrapper .news-block .date-block {
  position: absolute;
  left: 30px;
  top: 30px;
  background-color: #494f5a;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  line-height: 20px;
}

.blog-block .wrapper .news-block .date-block .day {
  font-weight: bold;
  font-size: 32px;
}

.blog-block .wrapper .news-block .date-block .month {
  font-weight: 600;
  font-size: 21px;
  display: block;
}

.blog-block .wrapper .news-block .text-block {
  position: absolute;
  left: 4px;
  bottom: 6px;
  width: 370px;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(29%, rgba(0, 0, 0, 0.762864)), color-stop(100%, rgba(0, 0, 0, 0.608501)), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, rgba(0, 0, 0, 0.762864) 29%, rgba(0, 0, 0, 0.608501) 100%, #00d4ff 100%);
  padding: 15px;
}

.blog-block .wrapper .news-block .text-block .title {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

.blog-block .wrapper .news-block .text-block .author {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: lighter;
}

.blog-block .button {
  width: 200px;
  height: 55px;
  background-color: #f72b3b;
  display: block;
  margin: 50px auto 0 auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  border: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.blog-block .button:hover {
  background-color: #d62635;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .blog-block {
    padding: 50px 20px;
  }
  .blog-block .headline {
    line-height: 70px;
    margin: 0 0 20px 0;
  }
  .blog-block .headline-text {
    width: 370px;
    text-align: center;
  }
  .blog-block .wrapper {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .blog-block .wrapper .news-block {
    margin: 10px 0;
    width: 100%;
  }
  .blog-block .wrapper .news-block img {
    width: 100%;
  }
  .blog-block .wrapper .news-block .back-image {
    width: calc(100% + 2%);
    margin: 0 4px 0 -4px;
    height: calc(100% + 1%);
  }
  .blog-block .wrapper .news-block .text-block {
    width: calc(100% - 2%);
    margin: 2px 2px -2px -2px;
    left: 7px;
  }
  .blog-block .button {
    margin: 30px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  .blog-block {
    padding: 50px 20px;
  }
  .blog-block .headline {
    line-height: 70px;
    margin: 0 0 40px 0;
  }
  .blog-block .headline-text {
    width: 500px;
    text-align: center;
  }
  .blog-block .wrapper {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .blog-block .wrapper .news-block {
    margin: 10px 0;
    width: 100%;
  }
  .blog-block .wrapper .news-block img {
    width: 100%;
  }
  .blog-block .wrapper .news-block .back-image {
    width: calc(100% + 2%);
    margin: 0 4px 0 -4px;
    height: calc(100% + 1%);
  }
  .blog-block .wrapper .news-block .text-block {
    width: calc(100% - 2%);
    left: 7px;
  }
  .blog-block .button {
    margin: 30px auto 0 auto;
    width: 300px;
  }
}

.contact-block {
  background-image: url(../images/background.jpg);
  background-size: cover;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.contact-block h1, .contact-block h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: #262626;
  margin: 0 0 27px 0;
}

.contact-block .mainer {
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
}

.contact-block .mainer .headline-text {
  margin: 0 auto 33px auto;
  display: block;
  width: 340px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #262626;
  line-height: 25px;
}

.contact-block .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-block .content .form-wrapper {
  width: 500px;
}

.contact-block .content .form-wrapper form input {
  width: 100%;
  min-height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
  border: none;
  border-left: 5px solid transparent;
  margin: 7.5px 0;
  padding: 0 20px;
  color: white;
}

.contact-block .content .form-wrapper form input[type="number"]::-webkit-outer-spin-button, .contact-block .content .form-wrapper form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-block .content .form-wrapper form input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form input::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form input:valid {
  opacity: 1;
  border-left: 5px solid #355b82;
}

.contact-block .content .form-wrapper form input:focus {
  opacity: 1;
  border-left: 5px solid #355b82;
}

.contact-block .content .form-wrapper form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form input:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form input:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form input:focus::placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form input:hover {
  opacity: 1;
}

.contact-block .content .form-wrapper form .form-button {
  width: 100%;
  height: 25px;
  margin: 20px 0 0 0;
  background-color: #00c4c4;
  opacity: 0.5;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  padding: 0 0 3px 0;
  border: 2px transparent solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-block .content .form-wrapper form .form-button:hover {
  opacity: 1;
}

.contact-block .content .form-wrapper form .form-button:active {
  background-color: #04dbdb;
}

.contact-block .content .form-wrapper form .form-button:focus {
  border: 2px solid #355b82;
  opacity: 1;
}

.contact-block .content .form-wrapper form textarea {
  height: 200px;
  width: 100%;
  background-color: #00c4c4;
  opacity: 0.5;
  border: none;
  margin: 7.5px 0 0 0;
  padding: 20px;
  resize: none;
  color: #645f5f;
}

.contact-block .content .form-wrapper form textarea:valid {
  opacity: 1;
  border-left: 5px solid #355b82;
}

.contact-block .content .form-wrapper form textarea:hover {
  opacity: 1;
}

.contact-block .content .form-wrapper form textarea:focus {
  opacity: 1;
  border-left: 5px solid #355b82;
}

.contact-block .content .form-wrapper form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form textarea:focus::placeholder {
  color: transparent;
}

.contact-block .content .form-wrapper form textarea::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form textarea:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form textarea::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .content .form-wrapper form textarea::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.contact-block .contact-wrapper {
  padding: 4px 0 0 0;
}

.contact-block .contact-wrapper .contact {
  margin: 0 10px 0 -10px;
  text-align: left;
}

.contact-block .contact-wrapper .contact .contact-key {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #262626;
}

.contact-block .contact-wrapper .contact .contact-value {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #262626;
  line-height: 25px;
}

@media screen and (max-width: 550px) {
  .contact-block {
    padding: 50px 20px;
  }
  .contact-block .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-block .content .form-wrapper {
    margin: 20px 0 0 0;
    width: 100%;
  }
  .contact-block .content .form-wrapper form input {
    margin: 10px 0;
  }
  .contact-block .content .form-wrapper form .form-button {
    margin-left: 0;
    width: 100%;
  }
  .contact-block .content .form-wrapper form textarea {
    margin-top: 10px;
    height: 150px;
  }
  .contact-block .content .contact-wrapper .contact {
    margin: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 551px) {
  .contact-block {
    padding: 50px 20px;
  }
  .contact-block .content .form-wrapper {
    width: 100%;
  }
  .contact-block .content .form-wrapper form input {
    margin: 10px 0;
  }
  .contact-block .content .form-wrapper form .form-button {
    margin-left: 0;
    width: 100%;
  }
  .contact-block .content .form-wrapper form textarea {
    margin-top: 10px;
    height: 200px;
  }
  .contact-block .content .contact-wrapper .contact {
    padding: 2px 0 0 0;
    margin: 0 20px 0 20px;
  }
}

footer {
  height: 90px;
  background-color: #262626;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .text-rights {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
}

footer .logo {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #b9b9b9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .author {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #b9b9b9;
}

@media screen and (max-width: 550px) {
  footer {
    padding: 0;
  }
  footer .text-rights {
    display: none;
  }
  footer .author {
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  footer {
    padding: 50px 20px;
  }
}
/*# sourceMappingURL=style.css.map */