body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer{
    margin: 0 auto;
}

.mainer .content-wrapper{
    background-color: #f9f8fb;
}

.mainer .content{
    min-height: 900px;
    min-width: 1200px;
    padding: 50px;
    max-width: 1300px;
    margin: 0 auto;
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;


}

.content .menu{
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin: 19px;
    border-top: 3px solid transparent;
}

.menu a:hover{
    border-top: 3px solid #ff6033;
}



.content .headline{
    margin: 260px 0 0 0;
    color: #262626;
    width: 380px;

}

.content .headline .main-headline{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.content .headline .text{
    margin: 17px 0 0 0;
    display: block;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    line-height: 27px;
}

.content .headline button{
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    margin: 27px 0 0 0;
    cursor: pointer;
    box-shadow: 4px 2px 10px rgba(0,0,0,0.5)
}

.content .headline button:hover{
    background-color: #fb5324;
}


.mainer .about-wrapper{
    background-color: #00b8b8;
}

.mainer .about{
    margin: 0 auto;
    max-width: 1175px;
    display: flex;
    min-height: 700px;
    min-width: 1200px;
    padding: 50px;
}

.about .about-image{
    width: 560px;
    height: 560px;
    margin-top: 75px 0 0 0;
} 

.about .headline{
    margin: 112px 0 0 76px;
}

.about .headline .main-headline{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;    
    font-size: 90px;
    color: white;
}

.about .headline .text{
    margin: 8px 0 0 0;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: white;
    line-height: 27px;        
}