body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}


.menu-wrapper{
    .menu{
        padding: 50px 165px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;

        a{
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            margin: 19px;
            border-top: 3px solid transparent;
            color: #262626;
        }
        a:hover, a:focus{
            border-top: 3px solid #ff6033;
        }
    }

    @media screen and (max-width:550px){
        .menu{
        flex-direction: column;
        justify-content: center;
        padding: 50px 20px;
        img{
            width: 200px;
            margin: 0 auto 20px auto;
        }
        a{
            display: flex;
            justify-content: center;
            margin: 0;
            &:hover, &:focus{
                border-top: 3px solid transparent;
                background-color: #545454;
                color: rgba(255, 255, 255, 0.795);
            }
        }
    }
    }

    @media screen and (max-width:768px) and (min-width:551px){
        padding: 50px 20px;
        width: 100%;
        .menu{
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            width: 100%;
            img{
                display: block;
                width: 200px;
                margin: 0 auto;
            }
            .links{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;;
            a{
                display: inline-block;
                margin: 20px 20px 0 20px;
            }}
        }

    }
}
    

    



   .home{
       background-image: url(../images/background-image.jpg);
       background-size: cover;
       background-position: center;
       padding: 50px 20px;       
        .content{
            padding: 200px 0 300px 200px;
            max-width: 1200px;
            margin: 0 auto;
            .headline{
                color: #262626;
                width: 380px;
                
                .text{
                    margin: 17px 0 0 0;
                    display: block;
                    font-size: 17px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: lighter;
                    line-height: 27px;
                }
                .main-headline{
                    font-size: 60px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;}
                
                    button{
                        width: 200px;
                        height: 55px;
                        background-color: #ff6033;
                        border: none;
                        font-family: 'Raleway', sans-serif;
                        font-weight: lighter;
                        font-size: 20px;
                        color: #ffffff;
                        margin: 27px 0 0 0;
                        cursor: pointer;
                        box-shadow: 4px 2px 10px rgba(0,0,0,0.5);
                        &:hover{
                            background-color: #fb5324;
                    }}
                    }
                }
                @media screen and (max-width:550px){
                    padding: 50px 20px;       
                    .content{
                        padding: 0;
                        margin: 0;
                        width: 100%;
                    .headline{
                        width: 100%;
                        .text{
                            text-align: left;
                            width: 200px;
                        }
                        .main-headline{
                            font-size: 60px;
                        }
                        button{
                            width: 100%;
                        }
                        }
                    } }
                    
                    @media screen and (max-width:800px) and (min-width:551px){
                        padding: 50px 20px;
                        .content{
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        .headline{
                            width: 100%;
                            .text{
                                text-align: left;
                                width: 300px;
                            }
                            .main-headline{
                                font-size: 60px;
                            }
                            button{
                                width: 300px;
                            }
                            }
                        }
                    }    
            }
        
    








.about-wrapper{
    background-color: #00b8b8;
    .about{
        margin: 0 auto;
        max-width: 1175px;
        display: flex;
        flex-wrap: nowrap;
        padding: 50px;
        .about-image{
            width: 560px;
            height: 560px;
            margin-top: 75px 0 0 0;
        }
        .headline{
            margin: 112px 0 0 76px;
            .main-headline{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;    
                font-size: 90px;
                color: white;
                line-height: 70px;
            }
            .text{
                margin: 8px 0 0 0;
                display: block;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                font-size: 17px;
                color: white;
                line-height: 27px;        
            }
           
        }
    
    @media screen and (max-width:550px){
        padding: 50px 20px ;
        flex-wrap: wrap;
        .about-image{
            width: 400px;
            height: 400px;
            margin: 0;
            }
        .headline{
            margin: 0;
            .main-headline{
                text-align: center;
                display: block;
                font-size: 70px;
                color: white;
                }
                .text{
                    text-align: center;
                    display: block;
                    font-size: 17px;
                    max-width: 440px;
                    color: white;
                    line-height: 27px;        
                }
               
            }
        }
        @media screen and (max-width:1000px) and (min-width:551px){
            padding: 50px 20px;
            flex-wrap: nowrap;
            .about-image{
                width: 350px;
                height: 350px;
                margin: 0;
                }
            .headline{
                margin: 0;
                .main-headline{
                    text-align: center;
                    display: block;
                    font-size: 60px;
                    color: white;
                    }
                    .text{
                        text-align: center;
                        display: block;
                        font-size: 14px;
                        max-width: 440px;
                        color: white;
                        line-height: 24px;        
                    }
                   
                }
        }

        }
    }
    



.services-wrapper{
    background-color: #70bfff;
    padding: 169px 0 85px 0;
    .block-service{
        padding: 50px;
        display: flex;
        margin: 0 auto;
        max-width: 1080px;
        justify-content: space-between;
        .cell{
            .content{
                display: flex;
                width: 400px;
                background-color: #fff;
                justify-content: space-between;
                margin: 10px;
                text-decoration: none;

                &:hover{
                    background-color: #7db7e6;

                    .icon-shopping{
                        fill: #fff
                    }

                    .text-content{
                            color: white;
                        }
                    
                    .icon-domestic{
                        fill: #fff;
                        }
                    
                    .icon-product{
                        fill: #ffffff;
                    }
                    .icon-organized{
                        fill: #fff;
                    }
                }
                    
                
                &:focus{
                    background-color: #7db7e6;
                    .text-content {
                        color: white;
                    }

                    .icon-shopping{
                        fill: #fff
                    }

                    .text-content{
                            color: white;
                        }
                    
                    .icon-domestic{
                        fill: #fff;
                        }
                    
                    .icon-product{
                        fill: #ffffff;
                    }
                    .icon-organized{
                        fill: #fff;
                    }
                }
                &:active{
                    background-color: #6caee4;
                }
            }

            .text-content{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 20px;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 300px;
                box-sizing: border-box;
                color: #262626;
            }
            .img-content{
                display: flex;
                width: 100px;
                box-sizing: border-box;
                border-left: 1px solid #9d9d9d;
                padding: 230 24px;
                
                .icon-shopping{
                    fill: #262626;
                    width: 46.688px; 
                    height: 42.78px;
                    display: flex;
                    margin: 0 auto;
                    align-self: center;
                }

                .icon-domestic{
                    width: 53px; 
                    height: 53.16px;
                    display: flex;
                    align-self: center;
                    margin: 0 auto;
                    fill: #262626;
                }

                .icon-product{
                    fill: #262626;
                    display: flex;
                    margin: 0 auto;
                    align-self: center;
                    width:53.688px;
                    height:47.62px;
                }

                .icon-organized{
                    display: flex;
                    margin: 0 auto;
                    align-self: center;
                    fill: #262626;
                    width: 54.125px;
                    height: 54.12px ;
                }
            }
        .services{
            display: flex;
            background-image: url(../images/services-tomato.png);
            min-height: 525px;
            background-repeat: no-repeat;
            background-position: right;
            text-align: center;
            align-items: center;
            margin: -100px 0 100px 0;

            .services-text{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 90px;
                color: #fff;
            }

            }
        }
    }

    @media screen and (max-width:550px){
        padding: 150px 20px 50px 20px;
        .block-service{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding: 0;
            .cell{
                width: 100%;
                .content{
                    width: 100%;
                    margin: 20px auto 0 auto;
                }
                .text-content{
                    width: 100%;
                }
            }
        }
        
    }

    @media screen and (max-width:855px) and (min-width:551px){
        padding: 150px 20px 50px 20px;
        .block-service{
            padding: 0;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .cell{
                width: 100%;
                .content{
                    width: 100%;
                    margin: 20px 0 0 0;
                }
                .text-content{
                    width: 100%;
                }
                .services{
                    width: 500px;
                    margin: -100px auto 100px auto;
                }


            }
        }       
    }
}




.gallery-wrapper{
    padding: 100px 20px;
    background-color: #ffe92f;
    .gallery-block{
        max-width: 1170px;
        margin: 0 auto;

        .headline{
            text-align: center;
            margin: 0 auto 4px auto;
            font-size: 90px;
            color: #262626;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
        }

        .headline-text{
            margin: 0 auto 17px auto;
            font-size: 17px;
            color: #262626;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            text-align: center;
            line-height: 27px;
            max-width: 585px;
        }

        .row-wrapper{
            padding: 20px;
            .bootstrap-image{
                width: 100%;
                margin: 0 0 20px 0;
            }
        }
        button{
        width: 200px;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        background-color: #5585a2;
        margin: 30px auto 0 auto;
        text-align: center;
        border: none;
        display: block;
        &:hover{
            background-color: #468ab4;
        }
        &:active{
            background-color: #5585a2;
        }

        }
        }
        @media screen and (max-width:550px){
            padding: 50px 20px;
            .gallery-block{
                .headline{
                    line-height: 80px;
                    margin: 0 0 15px 0;
                }
                .row-wrapper{
                    padding: 0;
                }
            button{
                width: 100%;
            }
            }}
        @media screen and (max-width:768px) and (min-width:551px){
            padding: 50px 20px;
            .gallery-block{
                .headline{
                    line-height: 80px;
                    margin: 0 0 15px 0;
                }
                .row-wrapper{
                    padding: 0;
                }
            button{
                width: 300px;
            }
            }

        }  
    }






.subscribe-wrapper{
    background-image: url(../images/subscribe-background.png);
    background-position: center 0;
    background-size: cover;
    .subscribe-block{
        padding: 150px 50px;
        margin: 0 auto;
        max-width: 1200px;
        .headline{
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
        .headline-text{
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 17px;
            line-height: 27px;
            width: 545px;}
        form{
            display: flex;
            .subscribe-email{
                width: 570px;
                border: 1px solid #262626;
                box-sizing: border-box;
                padding: 18px 14px 16px 14px;
                margin: 28px 0 13px 0;
                &:focus{
                    border: 1px solid #057514;
                    &::placeholder{
                        color: transparent
                    }
                }

                &::placeholder{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                }
            }
            button{
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                padding: 15px 10px 13px 10px;
                width: 170px;
                text-align: center;
                box-sizing: border-box;
                border: none;
                margin: 28px 0 13px 27px;
                background-color: #96b92c;
                color: #fff;
                font-size: 20px;
                &:hover{
                    background-color: #7c9c1a;
                }
                &:active{
                    background-color: #96b92c;
                }
            }
        }}
        @media screen and (max-width:550px){
            background-position: 730px 0;
            .subscribe-block{
            padding: 50px 20px;
            .headline{
                font-size: 30px;
            }
            .headline-text{
                width: 220px;
                text-align: justify;
                    }
            form{
                .subscribe-email{
                    width: 300px;
                }
            }

                }}
        
        @media screen and (max-width:768px) and (min-width:551px){
            .subscribe-block{
                padding: 50px 20px;
                .headline-text{
                    width: 300px;
                }


            }
        }    
}





.blog-block{
    background-color: #b07cf7;
    margin: 0 auto;
    padding: 100px 0;
    .headline{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 90px;
        text-align: center;
        color: white;
    }
    .headline-text{
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 17px;
        text-align: center;
        width: 590px;
        margin: 26px auto 0 auto;
        line-height: 25px;
        color: white;
    }
    .wrapper{
        padding: 0 20px;
        margin: 20px auto;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 1220px;
        .news-block{
            margin: 0 10px;
            width:370px;
            position: relative;
            &:hover{
                opacity: 0.8;
                cursor: pointer;
            }
            .back-image{
                width: calc(370px+5%);
                height: calc(370px+1%);
                margin: -3px 5px 0 -5px;
            }
            .date-block{
                position: absolute;
                left: 30px;
                top: 30px;
                background-color: #494f5a;
                opacity: 0.7;
                border-radius: 4px;
                text-align: center;
                padding: 8px;
                font-family: 'Raleway', sans-serif;
                color: white;
                text-align: center;
                line-height: 20px;
                .day{
                    font-weight: bold;
                    font-size: 32px;
                }
                .month{
                    font-weight: 600;
                    font-size: 21px;
                    display: block;
                }
            }
            .text-block{
                    position: absolute;
                    left: 4px;
                    bottom: 6px;
                    width: 370px;
                    background: rgb(2,0,36);
                    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.7628635346756152) 29%, rgba(0,0,0,0.6085011185682326) 100%, rgba(0,212,255,1) 100%);
                    padding: 15px;
                    .title{
                        font-size: 20px;
                        font-family: 'Raleway', sans-serif;
                        font-weight: bold;
                        color: white;
                        }
                    .author{
                            font-size: 13px;
                            font-family: 'Raleway', sans-serif;
                            color: white;
                            font-weight: lighter;
                            }
                            } 
                        
            }}
    .button{
        width: 200px;
        height: 55px;
        background-color: #f72b3b;
        display: block;
        margin: 50px auto 0 auto;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        border: 0;
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);
        &:hover{
            background-color: #d62635;
            cursor: pointer;
        }
    }
    @media screen and (max-width:550px){
        padding: 50px 20px;
        .headline{
            line-height: 70px;
            margin: 0 0 20px 0;
        }
        .headline-text{
            width: 370px;
            text-align: center;
        }
        .wrapper{
            margin: 10px 0 0 0;
            padding: 0;
            .news-block{
                margin: 10px 0;
                width: 100%;
                img{
                    width: 100%;
                }
                .back-image{
                    width: calc(100% + 2%);
                    margin: 0 4px 0 -4px;
                    height: calc(100% + 1%);
                }
                .text-block{
                    width: calc(100% - 2%);
                    margin: 2px 2px -2px -2px;
                    left: 7px;
                }
            }
        }
        .button{
            margin: 30px 0 0 0;
            width: 100%;
        }
    }

    @media screen and (max-width:768px) and (min-width:551px){
        padding: 50px 20px;
        .headline{
            line-height: 70px;
            margin: 0 0 40px 0;
        }
        .headline-text{
            width: 500px;
            text-align: center;
        }
        .wrapper{
            margin: 10px 0 0 0;
            padding: 0;
            .news-block{
                margin: 10px 0;
                width: 100%;
                img{
                    width: 100%;
                }
                .back-image{
                    width: calc(100% + 2%);
                    margin: 0 4px 0 -4px;
                    height: calc(100% + 1%);
                }
                .text-block{
                    width: calc(100% - 2%);
                    left: 7px;
                }
            }
        }
        .button{
            margin: 30px auto 0 auto;
            width: 300px;
        }
    }
}






.contact-block {
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding: 120px 0;
    box-sizing: border-box;
    width: 100%;
    h1,h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 90px;
        color: #262626;
        margin: 0 0 27px 0;
        }
    .mainer{
        text-align: center;
        margin: 0 auto;
        max-width:1500px;
        .headline-text{
            margin: 0 auto 33px auto;
            display: block;
            width: 340px;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 12px;
            color: #262626;
            line-height: 25px;
            }
        }

        .content{
            display: flex;
            justify-content: space-around;
            .form-wrapper{
            width: 500px;
            form{
                input{
                    width: 100%;
                    min-height: 50px;
                    background-color: #00c4c4;
                    opacity: 0.5;
                    border: none;
                    border-left: 5px solid transparent;
                    margin: 7.5px 0;
                    padding: 0 20px;
                    color: white;

                    &[type="number"]::-webkit-outer-spin-button, &[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &::placeholder{
                        font-family: 'Raleway', sans-serif;
                        font-weight: 300;
                        font-size: 15px;
                        color: #fff;
                    }
                    &:valid{
                        opacity: 1;
                        border-left: 5px solid #355b82;
                    }
                    &:focus{
                        &::placeholder{
                            color: transparent;
                        }
                        opacity: 1;
                        border-left: 5px solid #355b82;
                    }

                    &:hover{
                        opacity: 1;
                    }
                }
                .form-button{
                    width: 100%;
                    height: 25px;
                    margin: 20px 0 0 0;
                    background-color: #00c4c4;
                    opacity: 0.5;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                    color: #fff;
                    padding:0 0 3px 0;
                    border: 2px transparent solid;
                    box-sizing: border-box;
                    &:hover{
                        opacity: 1;
                    }
                    &:active{
                        background-color: #04dbdb;
                    }
                    &:focus{
                        border: 2px solid #355b82;
                        opacity: 1;      
                    }
                    


                }

                textarea{
                    height: 200px;
                    width: 100%;
                    background-color: #00c4c4;
                    opacity: 0.5;
                    border: none;
                    margin: 7.5px 0 0 0;
                    padding: 20px;
                    resize: none;
                    color: rgb(100, 95, 95);
                    &:valid{
                        opacity: 1;
                        border-left: 5px solid #355b82;
                    }
                    &:hover{
                        opacity: 1;

                    }
                    &:focus{
                        opacity: 1;
                        border-left: 5px solid #355b82;
                        &::placeholder{
                            color: transparent;
                        }
                        
                    }
                    &::placeholder{
                        font-family: 'Raleway', sans-serif;
                        font-weight: 300;
                        font-size: 15px;
                        color: #fff;
                    }
                    
                    
                }
                
            }
        }}

        .contact-wrapper{
            padding: 4px 0 0 0;
            .contact{
                margin: 0 10px 0 -10px;
                text-align: left;
                .contact-key{
                    font-size: 17px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                    color: #262626;    
                }
                .contact-value{
                    font-size: 20px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    color: #262626;
                    line-height: 25px;   
                }
            }            
        }
        @media screen and (max-width:550px){
            padding: 50px 20px;
            .content{
                flex-direction: column-reverse;
                .form-wrapper{
                    margin: 20px 0 0 0;
                    width: 100%;
                    form{
                        input{
                            margin: 10px 0;
                        }
                        .form-button{
                            margin-left: 0;
                            width: 100%;
                        }
                        textarea{
                            margin-top: 10px;
                            height: 150px;
                        }
                    }}
                .contact-wrapper{
                    .contact{
                        margin: 0;
                    }
                    }
            }
        }
        @media screen and (max-width:900px) and (min-width:551px){
            padding: 50px 20px;
            .content{
                .form-wrapper{
                    width: 100%;
                    form{
                        input{
                            margin: 10px 0;
                        }
                        .form-button{
                            margin-left: 0;
                            width: 100%;
                        }
                        textarea{
                            margin-top: 10px;
                            height: 200px;
                        }
                    }}
                .contact-wrapper{
                    .contact{
                        padding: 2px 0 0 0;
                        margin: 0 20px 0 20px;
                    }
                    }
            }
        
        }
    }
    



footer{
    height: 90px;
    background-color: #262626;
    display: flex !important;
    justify-content: space-around;
    padding: 0 165px;
    box-sizing: border-box;

    .text-rights{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        color: #b9b9b9;
        display: flex;
        align-self: center;
        display: block;
    }

    .logo{
        display: block;
        font-family: 'Pacifico', cursive;
        font-size: 25px;
        color: #b9b9b9;
        align-self: center;
    }

    .author{
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 15px;
        align-self: center;
        color: #b9b9b9;
    }

    @media screen and (max-width:550px){
        padding: 0;
        .text-rights{
            display: none;
        }
        .author{
            display: none;
        }
    }

    @media screen and (max-width:768px) and (min-width:551px){
        padding: 50px 20px;}
    
}


